<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="__bl_biped.SLDASM">
  <link
    name="waist">
    <inertial>
      <origin
        xyz="4.25310547423513E-05 0.0351596921543659 0.0854615157862926"
        rpy="0 0 0" />
      <mass
        value="0.262622793578275" />
      <inertia
        ixx="0.000138388345709865"
        ixy="-3.73847833915769E-08"
        ixz="3.42956846153563E-07"
        iyy="0.000194636429902524"
        iyz="-1.48469297008929E-06"
        izz="0.000231136949352574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_hip">
    <inertial>
      <origin
        xyz="-0.0012225701830377 0.0263917517827317 -0.0200347760303881"
        rpy="0 0 0" />
      <mass
        value="0.0642053911062237" />
      <inertia
        ixx="6.1591474888072E-05"
        ixy="-1.89643410428501E-07"
        ixz="2.28971299720793E-07"
        iyy="4.06527256138531E-05"
        iyz="8.85265353661526E-06"
        izz="2.57232807692184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="fixed">
    <origin
      xyz="0.06246 -0.08375 -0.039933"
      rpy="1.5708 0.088416 0" />
    <parent
      link="waist" />
    <child
      link="right_hip" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_thigh">
    <inertial>
      <origin
        xyz="-0.00433389050943357 -2.495187233921E-05 0.086670738201608"
        rpy="0 0 0" />
      <mass
        value="0.0771370272590037" />
      <inertia
        ixx="0.000248162014190046"
        ixy="-9.99587497941417E-09"
        ixz="1.19343516986769E-05"
        iyy="0.000242840219902529"
        iyz="5.81231556510166E-08"
        izz="1.41076116998483E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_thigh_joint"
    type="fixed">
    <origin
      xyz="0.03945 -0.15506 0.12632"
      rpy="-2.2544 0 0" />
    <parent
      link="right_hip" />
    <child
      link="right_thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_leg">
    <inertial>
      <origin
        xyz="-0.124398770205919 0.278473775071406 -0.13921949427762"
        rpy="0 0 0" />
      <mass
        value="0.0478595442533207" />
      <inertia
        ixx="0.000196505605898277"
        ixy="-2.82434071943166E-11"
        ixz="-3.02017902433973E-06"
        iyy="0.000196029702334917"
        iyz="-6.65312098511844E-11"
        izz="2.78913540257083E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee"
    type="fixed">
    <origin
      xyz="-0.105192195929673 0.0432914316407734 0.279459488528905"
      rpy="-1.2419385326379 0 -3.14159265358979" />
    <parent
      link="right_thigh" />
    <child
      link="right_leg" />
    <axis
      xyz="0 0.848141172231288 0.529770282260279" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_foot">
    <inertial>
      <origin
        xyz="7.07219636186807E-08 -0.00700425502640056 -4.68857200286443E-09"
        rpy="0 0 0" />
      <mass
        value="0.0165935132876087" />
      <inertia
        ixx="8.2166768956716E-06"
        ixy="2.33542621377689E-12"
        ixz="2.00987884318805E-11"
        iyy="8.10383685159825E-06"
        iyz="1.90588265425622E-12"
        izz="5.50701475867949E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/right_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle"
    type="fixed">
    <origin
      xyz="-0.12514 0.27847 -0.24928"
      rpy="1.0472 0 -3.1416" />
    <parent
      link="right_leg" />
    <child
      link="right_foot" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip">
    <inertial>
      <origin
        xyz="-0.00122113199195062 0.0263920128963439 0.0200353131309596"
        rpy="0 0 0" />
      <mass
        value="0.0642040123233543" />
      <inertia
        ixx="6.15897873545863E-05"
        ixy="-1.89729480793521E-07"
        ixz="-2.29072364850609E-07"
        iyy="4.06418883187719E-05"
        iyz="-8.85358812337489E-06"
        izz="2.57128512515607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint_"
    type="fixed">
    <origin
      xyz="-0.061149 -0.08375 -0.039795"
      rpy="1.5708 0.12129 -3.1416" />
    <parent
      link="waist" />
    <child
      link="left_hip" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_thigh">
    <inertial>
      <origin
        xyz="-0.00433379574200324 -2.49850145995767E-05 0.0866690187264659"
        rpy="0 0 0" />
      <mass
        value="0.0771357809770906" />
      <inertia
        ixx="0.000248147093191055"
        ixy="-9.98752192700036E-09"
        ixz="1.19330331734569E-05"
        iyy="0.000242839515919231"
        iyz="5.85037793460318E-08"
        izz="1.41216018841357E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_thigh_joint"
    type="fixed">
    <origin
      xyz="0.03945 -0.16018 -0.11976"
      rpy="-0.92879 0 0" />
    <parent
      link="left_hip" />
    <child
      link="left_thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_leg">
    <inertial>
      <origin
        xyz="-0.124171672645028 -0.273619570531007 -0.149242876752889"
        rpy="0 0 0" />
      <mass
        value="0.0478595748702679" />
      <inertia
        ixx="0.000196505663091013"
        ixy="-2.7124956088972E-11"
        ixz="-3.02017930965109E-06"
        iyy="0.000196029757584923"
        iyz="-6.65972080613256E-11"
        izz="2.78913810253822E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee"
    type="fixed">
    <origin
      xyz="-0.10497 -0.047851 0.27586"
      rpy="1.1856 0 -3.1416" />
    <parent
      link="left_thigh" />
    <child
      link="left_leg" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_foot">
    <inertial>
      <origin
        xyz="5.99032361353613E-08 -0.00700427543915005 0.049967349280793"
        rpy="0 0 0" />
      <mass
        value="0.0165935434374477" />
      <inertia
        ixx="8.21666243950825E-06"
        ixy="3.57318266998983E-12"
        ixz="2.36883054384969E-11"
        iyy="8.10382689201123E-06"
        iyz="-3.08746634702849E-12"
        izz="5.50701454433249E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://__bl_biped.SLDASM/meshes/left_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle"
    type="prismatic">
    <origin
      xyz="-0.12492 -0.23036 -0.28429"
      rpy="1.0472 0 0" />
    <parent
      link="left_leg" />
    <child
      link="left_foot" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>